name: Bundle
on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'


jobs:
  build-windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v3
      - uses: CompeyDev/setup-rokit@v0.1.2
        with:
          version: v1.2.0
          cache: false
          token: ${{ github.token }}
      
      - name: Bundle Files
        run: darklua process src/Repackage.luau bundle/Bundled.luau -c bundle/darklua.config

      - name: Build Executable
        run: lune build bundle/Bundled.luau --o bundle/Repackage.exe 
          
      - name: Upload Bundle Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Repackage
          path: bundle/Repackage.exe