PUT YOUR COOKIE HERE

I would advise against this but the roblox API Keys dont actually support getting asset data (for some reason)

easiest way to get the cookie is to go into a browser and copy the entire cookie value

rename to remove .template